flows.json
[{"id":"ba5651691fe1a4d7","type":"tab","label":"Devansh","disabled":false,"info":"","env":[]},{"id":"35eb528846eb2598","type":"function","z":"ba5651691fe1a4d7","name":"Data cleaning ","func":"var tweet = msg.tweet.text;\nvar newtweet = tweet.replace(/#/g, \"\");\n\n\n// regex from https://stackoverflow.com/questions/1500260/detect-urls-in-text-with-javascript\nmsg.payload = newtweet.replace( /(([a-z]+:\\/\\/)?(([a-z0-9\\-]+\\.)+([a-z]{2}|biz|com|co|edu|gov|info|net|org|ly))(:[0-9]{1,5})?(\\/[a-z0-9_\\-\\.~]+)*(\\/([a-z0-9_\\-\\.]*)(\\?[a-z0-9+_\\-\\.%=&amp;]*)?)?(#[a-zA-Z0-9!$&'()*+.=-_~:@/?]*)?)(\\s+|$)/gi, \"\" );\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":420,"y":60,"wires":[["cc571793e82e9068","19a4f68af4c3b564","c9069da47d1815c3","dd8832ca0833d62f"]]},{"id":"cc571793e82e9068","type":"debug","z":"ba5651691fe1a4d7","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":630,"y":60,"wires":[]},{"id":"7ebe95fe7b01df7d","type":"function","z":"ba5651691fe1a4d7","name":"","func":"var emotions = [];\nemotions = msg.response.document_tone.tone_categories\n                .filter(function(c){\n                    if (c.category_id == \"emotion_tone\")\n                    {return c; }\n                    })[0].tones;\n                    \nvar myscore =  0;\nfor (var i=0; i<emotions.length; i++) {\n    if(emotions[i].score > myscore) {\n        msg.payload = emotions[i].score;\n        msg.topic = emotions[i].tone_name;\n        myscore = emotions[i].score;\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":160,"y":220,"wires":[["ebd51f48b7d478e8"]]},{"id":"ebd51f48b7d478e8","type":"switch","z":"ba5651691fe1a4d7","name":"","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"Joy","vt":"str"},{"t":"eq","v":"Fear","vt":"str"},{"t":"eq","v":"Sadness","vt":"str"},{"t":"eq","v":"Anger","vt":"str"},{"t":"eq","v":"Disgust","vt":"str"}],"checkall":"true","repair":false,"outputs":5,"x":330,"y":220,"wires":[["9be84b093e6d86f6"],["0390c45a56d04a7c"],["40058f9001769be4"],["c22211a7a467e7e4"],["84d6e67d1d43d0f7"]]},{"id":"9be84b093e6d86f6","type":"change","z":"ba5651691fe1a4d7","name":"Joy","rules":[{"t":"set","p":"payload","pt":"msg","to":"300,000,0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":510,"y":180,"wires":[["087f73662953a15d"]]},{"id":"0390c45a56d04a7c","type":"change","z":"ba5651691fe1a4d7","name":"Fear","rules":[{"t":"set","p":"payload","pt":"msg","to":"0,250,0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":510,"y":220,"wires":[["087f73662953a15d"]]},{"id":"40058f9001769be4","type":"change","z":"ba5651691fe1a4d7","name":"Sadness","rules":[{"t":"set","p":"payload","pt":"msg","to":"0,0,250","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":260,"wires":[["087f73662953a15d"]]},{"id":"c22211a7a467e7e4","type":"change","z":"ba5651691fe1a4d7","name":"Anger","rules":[{"t":"set","p":"payload","pt":"msg","to":"255,0,0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":300,"wires":[["087f73662953a15d"]]},{"id":"84d6e67d1d43d0f7","type":"change","z":"ba5651691fe1a4d7","name":"Disgust","rules":[{"t":"set","p":"payload","pt":"msg","to":"221,160,221","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":340,"wires":[["087f73662953a15d"]]},{"id":"087f73662953a15d","type":"template","z":"ba5651691fe1a4d7","name":"Score tweet","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{topic}} ","output":"str","x":670,"y":280,"wires":[["7f6c2e96d84a2d7c","a7ce9ac67789a30b"]]},{"id":"7f6c2e96d84a2d7c","type":"debug","z":"ba5651691fe1a4d7","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":830,"y":240,"wires":[]},{"id":"cc8378284d1d15e9","type":"twitter in","z":"ba5651691fe1a4d7","twitter":"","tags":"#ibm, @ibm","user":"false","name":"","inputs":1,"x":150,"y":60,"wires":[["35eb528846eb2598"]]},{"id":"19a4f68af4c3b564","type":"ui_text","z":"ba5651691fe1a4d7","group":"4c4b1ee9.c4294","order":6,"width":"14","height":"2","name":"Tweets","label":"Tweet","format":"{{msg.payload}}","layout":"row-left","className":"","x":680,"y":120,"wires":[]},{"id":"a7ce9ac67789a30b","type":"ui_text","z":"ba5651691fe1a4d7","group":"4c4b1ee9.c4294","order":7,"width":0,"height":0,"name":"Tone","label":"Tone of the tweet express ","format":"{{msg.payload}}","layout":"row-left","className":"","x":830,"y":300,"wires":[]},{"id":"c9069da47d1815c3","type":"function","z":"ba5651691fe1a4d7","name":"Filter Tweets","func":"\nvar tweets = context.tweets || [\"\",\"\",\"\",\"\",\"\",\"\",\"\",\"\",\"\",\"\",\"\",\"\",\"\",\"\",\"\",\"\",\"\",\"\",\"\",\"\"];\n\nif (msg.tweet.lang == \"en\") {\n\n\tvar foo = msg.tweet.text;\n\tif (foo.indexOf(\"http\") != -1) {\n\t\tfoo = (foo.split(\"http\"))[0];\n\t}\n\tif (foo.toLowerCase().indexOf(\"job\") != -1) return null;\n\tfoo = foo.replace(/[^\\x00-\\x7F]/g, \"\");\n\t\n\tif (tweets.indexOf(foo) == -1) {\n\t\ttweets.shift();\n\t\ttweets.push(foo);\n\t\t//console.log(tweets);\n\t\tcontext.tweets = tweets;\n\t\treturn {payload:tweets};\n\t}\n}\nreturn null;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":210,"y":440,"wires":[["e50e143fc629f47c"]]},{"id":"e50e143fc629f47c","type":"function","z":"ba5651691fe1a4d7","name":"Count words in array","func":"var index = {};\n\nvar garbage = [ \"and\", \"for\", \"but\", \"the\", \"<\", \">\", \"his\", \"her\", \"pre\", \"are\", \"&\", \"with\"];\n\nfunction countWords(sentence) {\n\twords = sentence\n\t\t.replace(/[.,?!;()\"'-]/g, \" \")\n\t\t.replace(/\\s+/g, \" \")\n\t\t//.toLowerCase()\n\t\t.split(\" \");\n\t\n\twords.forEach(function (word) {\n\t\tif ((word.length > 2)&&( isNaN(Number(word)) )&&( garbage.indexOf(word.toLowerCase()) == -1 )) {\n\t\t    if (!(index.hasOwnProperty(word))) {\n\t\t        index[word] = 0;\n\t\t    }\n\t\t    index[word]++;\n\t\t}\n\t});\n\t\n\t//console.log(Object.keys(index).length);\n\t//return index;\n}\n\nfor (var i in msg.payload) {\n\tcountWords(msg.payload[i]);\n}\n\nmsg.payload = JSON.stringify(index);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":460,"y":440,"wires":[["9a78f77d1f122a5e","1686a80affbc47b3"]]},{"id":"9a78f77d1f122a5e","type":"debug","z":"ba5651691fe1a4d7","name":"","active":true,"console":"false","complete":"false","x":750,"y":400,"wires":[]},{"id":"5abb96e6cb6c904a","type":"ui_vega","z":"ba5651691fe1a4d7","group":"4c4b1ee9.c4294","name":"Vega","order":1,"width":"10","height":"6","vega":"","x":830,"y":520,"wires":[]},{"id":"1686a80affbc47b3","type":"template","z":"ba5651691fe1a4d7","name":"Compose Vega Spec.","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\n  \"width\": 480,\n  \"height\": 300,\n\n  \"data\": [\n    {\n      \"name\": \"table\",\n      \"values\": [\n          \"{{payload}}\"\n      ],\n      \"transform\": [\n        {\n          \"type\": \"countpattern\",\n          \"field\": \"data\",\n          \"case\": \"upper\",\n          \"pattern\": \"[A-Za-z][\\\\w\\\\-\\\\.']+\\\\w\",\n          \"stopwords\": \"(and|its|can|for|using|that|the|then|you|within|such|with|this|which|your|are|quot)\"\n        },\n        {\n          \"type\": \"formula\", \"as\": \"angle\",\n          \"expr\": \"[-45, 0, 45][~~(random() * 3)]\"\n        },\n        {\n          \"type\": \"formula\", \"as\": \"weight\",\n          \"expr\": \"if(datum.text=='NODE-RED', 600, 320)\"\n        }\n      ]\n    }\n  ],\n  \"scales\": [\n    {\n      \"name\": \"color\",\n      \"type\": \"ordinal\",\n      \"domain\": {\n        \"data\": \"table\", \n        \"field\": \"text\"\n      },\n      \"range\": [\"#d5a928\", \"#652c90\", \"#939597\"]\n    }\n  ],\n  \"marks\": [\n    {\n      \"type\": \"text\",\n      \"from\": {\n        \"data\": \"table\"\n      },\n      \"encode\": {\n        \"enter\": {\n          \"text\": {\n            \"field\": \"text\"\n          },\n          \"align\": {\n            \"value\": \"center\"\n          },\n          \"baseline\": {\n            \"value\": \"alphabetic\"\n          },\n          \"fill\": {\n            \"scale\": \"color\", \n            \"field\": \"text\"\n          }\n        }\n      },\n      \"transform\": [\n        {\n          \"type\": \"wordcloud\",\n          \"size\": [500, 300],\n          \"text\": {\n            \"field\": \"text\"\n          },\n          \"rotate\": {\n            \"field\": \"datum.angle\"\n          },\n          \"font\": \"Helvetica Neue, Arial\",\n          \"fontSize\": {\n            \"field\": \"datum.count\"\n          },\n          \"fontWeight\": {\n            \"field\": \"datum.weight\"\n          },\n          \"fontSizeRange\": [8, 32],\n          \"padding\": 2\n        }\n      ]\n    }\n  ]\n}\n","output":"json","x":600,"y":520,"wires":[["5abb96e6cb6c904a"]]},{"id":"d25c20d071b3d966","type":"inject","z":"ba5651691fe1a4d7","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":320,"y":520,"wires":[["e50e143fc629f47c"]]},{"id":"dd8832ca0833d62f","type":"watson-tone-analyzer-v3","z":"ba5651691fe1a4d7","name":"","tones":"all","sentences":"true","contentType":"false","tone-method":"generalTone","interface-version":"generalTone","inputlang":"en","service-endpoint":"https://api.eu-gb.tone-analyzer.watson.cloud.ibm.com/instances/5dba6e8d-ba13-4162-a793-355a2947c690","x":220,"y":140,"wires":[["7ebe95fe7b01df7d"]]},{"id":"4c4b1ee9.c4294","type":"ui_group","name":"Default","tab":"d3f58331.4840f","order":1,"disp":true,"width":"14","collapse":false},{"id":"d3f58331.4840f","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]